
.red { color: red; font-weight: bold; }

.blue { color: red; font-weight: bold; }

.orange { color: orange; font-weight: bold; }

.purple { color: purple; font-weight: bold; }

.green { color: green; font-weight: bold; }

.yellow { color: yellow; font-weight: bold; }
