
.red { color: red; font-weight: bold; }

.blue { color: red; font-weight: bold; }

.orange { color: orange; font-weight: bold; }

.purple { color: purple; font-weight: bold; }

.green { color: green; font-weight: bold; }

.yellow { color: yellow; font-weight: bold; }


#.title-slide {
#  background-color: #FAFAFA;
#  border-top: 80px solid #FAFAFA;
#  background-image: url(uon-logo-square.jpg);
#  background-size: contain;
#  background-repeat: no-repeat;
#  position: relative;
#  top: 0px;
#  right: 0px;
#  width: 12.8px;
#  height: 12.8px;
#  z-index: 0;
#}

hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #0000ff;
  color: #0000ff;
  height: 1px;
}
